/*============FONTS==============*/
@font-face {
    font-family: "Georgia";
    src: url(../fonts/Georgia_regular.ttf)
}

/*============GENERAL==============*/

h2 {
    font-size: 35px;
    font-family: Georgia;
    color: #545454;
}

/*============HEADER==============*/

.dog {
    background: url(../img/Dog_main2.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px;
}

header {
    padding-top: 60px;
}

.title h3 {
    font-family: Georgia;
    font-size: 32px;
    color: #af9482;
}
.title p{
    font-size: 13px;
    font-family: Arial;
    color: #fff;
}

ul.list-inline a {
    display: inline-block;
    color: #cdcdcd;
    font-family: Georgia;
    font-style: 15px;
    padding-left: 35px;
    padding-top: 13px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

ul.list-inline a:hover {
    color: #fff;
    text-decoration-color: #f1cdb3;
}

/*============MAIN==============*/

#main {
    padding-top: 256px;
}
.main_header {
    color: #d9d8d7;
    font-size: 44px;
    font-family: Georgia;
    padding-bottom: 46px;
}
#main p {
    font-family: Arial;
    font-style: 15px;
    color: #cdcdcd;
    padding-bottom: 46px;
}
#make_friend {
    font-family: Georgia;
    font-size: 17px;
    color: #292929;
    width: 205px;
    height: 52px;
    background-color: #f1cdb3;
    border-radius: 25px;
    border: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    margin-bottom: 270px;
}
#make_friend:hover {
    border: none;
    box-shadow: none;
    background-color: #daae8e;
}
#make_friend:active {
    outline: none;
}
#make_friend:focus {
    outline: none !important;
}

/*============PORTFOLIO==============*/
.img-responsive {
    margin-top: 90px;
    margin-left: 80px;
}
.portfolio h2 {
    padding-top: 120px;
    padding-bottom: 45px;
}
.portfolio_text {
    padding-bottom: 35px;
}
.portfolio_text2 {
    padding-bottom: 125px;
}

/*============ACTION==============*/

.action {
    background-color: #f6f6f6;
}

.action_header {
    padding-top: 82px; 
    padding-bottom: 73px;
}

.carousel img {
    padding-bottom: 40px;
    border-radius: 10px;
}
.carousel-item h5 {
    color: #545454;
    font-family: Georgia;
    font-size: 20px;
    text-align: center;
}
.carousel-item button {
    color: #545454;
    font-family: Georgia;
    font-size: 17px;
    border-radius: 27px;
    width: 188px;
    height: 54px;
    background-color: #fafafa;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border: 2px solid #f1cdb3;
    margin-top: 28px;
}

.carousel-item button:hover {
    border: none;
    box-shadow: none;
    background-color: #f1cdb3;
}

.carousel-item button:focus {
    outline: none !important;
}

.carousel-item button:active {
    outline: none !important;
}

.pages {
    background-color: #fafafa;
    margin: 50px;
    height: 422px;
    width: 270px;
    border-radius: 10px;
}

.pages:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.action_button button {
    color: #545454;
    background-color: #f1cdb3;
    font-size: 17px;
    font-family: Georgia;
    width: 266px;
    height: 52px;
    border-radius: 26px;
    border: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    margin-bottom: 68px;   
}

.action_button button:hover {
    border: none;
    box-shadow: none;
    background-color: #cfa485;
}

.action_button button:focus {
    outline: none !important;
}

.action_button button:active {
    outline: none !important;
}

/*============VARIOUS==============*/

#various h2 {
    margin-top: 72px;
    margin-bottom: 70px;
}

.various {
    text-align: center;
    margin-bottom: 73px;
}

.various h5 {
    margin-top: 30px;
    font-family: Georgia;
    font-size: 20px;
    color: #545454;
}

.transport {
    margin-top: 22px !important;
}

.collars {
    margin-top: 33px !important;
}

.sleeping {
    margin-top: 33px !important;
}
/*============DONATION==============*/

.donation h2{
    margin-top: 70px;
}

#donation {
    margin-top: 35px;
    background-color: #f6f6f6;
}

.donation h5 {
    margin-top: 35px;
    font-family: Georgia;
    font-size: 15px;
}

.donation img {
    margin: 70px 20px 5px 0px;
}

.image_form {
    margin: 3px 20px 0px 0px !important;
}

#donation-input {
    margin-top: 35px;
    width: 320px;
    height: 48px;
    background-color: #f1cdb3;
    border-radius: 10px;
    box-shadow: none !important;
    outline: none !important;
    border: none;
    padding-left: 20px;
}

#donation-input:hover {
    border: none;
    box-shadow: none;
}

#donation-input:focus {
    outline: none !important;
}

#donation-input:active {
    outline: none !important;
}

::-webkit-input-placeholder {
    font-size: 18px;
    color: #545454;
    padding-left: 10px;
}

.donation p{
    padding-top: 35px;
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 87px;
}

/*============FOOTER==============*/
.footer {
    background: url(../img/Pets.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 75px;
}

.footer h2 {
    color: #ffffff !important;
    padding-top: 80px;
    padding-bottom: 47px;
}

.footer h4 {
    font-family: Times New Roman;
    font-size: 20px;
    color:#f1cdb3;
    padding-top: 14px;
}

#mail {
    margin: 15px;
    height: 28px;
    width: 40px;
}

#telephone {
    margin: 15px;
    height: 38px;
    width: 38px;
}

#pin {
    margin: 15px;
    height: 32px;
    width: 25px;
}

#pin_2 {
    margin: 15px;
    height: 33px;
    width: 23px;
}